__pycache__/trainer.cpython-39.pyc
__pycache__/visualizations.cpython-39.pyc
__pycache__/kfold.cpython-39.pyc
.ipynb_checkpoints/Training (class)-checkpoint.ipynb
.ipynb_checkpoints/Iliad - sentiment analysis-checkpoint
.ipynb_checkpoints/Iliad - sentiment analysis-checkpoint.ipynb
